/*登录页面的样式*/
.loginform {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 400px;
    height: 400px;
    margin: -300px 0 0 -215px;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    background-color: black;
}

.form-item {
    position: relative;
    width: 360px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

.form-item input {
    width: 288px;
    height: 48px;
    padding-left: 50px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    outline: none;
}

.form-item button {
    width: 360px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    font-size: 18px;
    color: #1f6f4a;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}

.reg-bar {
    width: 360px;
    margin: 20px auto 0;
    font-size: 14px;
    overflow: hidden;
}

.reg-bar a {
    color: #fff;
    text-decoration: none;
}

.reg-bar a:hover {
    text-decoration: underline;
}

.reg-bar .reg {
    float: left;
}

.reg-bar .forget {
    float: right;
}

@media screen and (max-width: 500px) {
    * {
        box-sizing: border-box;
    }

    .loginform {
        position: static;
        width: auto;
        height: auto;
        margin: 0 30px;
        border: 0;
        border-radius: 0;
    }

    .form-item {
        width: auto;
    }

    .form-item input, .form-item button, .reg-bar {
        width: 100%;
    }
}